<div id="home" class="jumbotron">
    <div class="row">
        <div style="border: 2px white solid;
                    border-radius: 17px;
                    text-align: center;
                    color: white;
                    margin: 13%;">
            <h1>Welcome to <span class="header-font">HelpDesk <span class="glyphicon glyphicon-hd-video" aria-hidden="true"></span></span></h1>
            <h3>Service your customers,</h3>
            <h3 style="margin-top: 0;">Grow your company</h3>
        </div>
    </div>
</div>
